
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #fff;
  box-sizing: inherit;
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;
}

html {
  height: 100%;
  background-color: #fff;
}


header {
  background-color: #3458eb;
  color: #fff;
  left: 0;
  top: 0;
  width: 100%;
  margin-top: -24px;
}

header h1 {
  color: #fff;
}

header a {
  text-decoration: none;
  color: inherit;
}

label {
    font-family: 'Open Sans', sans-serif;
}

footer {
    background-color: #3458eb;
    color: #fff;
    padding: 20px;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 130px;
}

.container {
  padding-bottom: 60px;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: #333;
  font-family: 'Montserrat', serif;
}

h2 {
  font-family: 'Montserrat', serif;
  font-weight: bold;
}
.form-group {
  margin-bottom: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.btn-primary {
  background-color: #3458eb;
  border-color: #3458eb;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
}

.btn-primary:hover {
  background-color: #5a67d8;
  border-color: #5a67d8;
}

.results-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.diagnosis-section,
.treatments-section {
  box-sizing: border-box;
  width: 48%;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

p {
  font-family: 'Open Sans', sans-serif;
}

h3 {
  color: #333;
  font-family: 'Montserrat', serif;
}

@media (max-width: 768px) {
  .diagnosis-section,
  .treatments-section {
    flex: 0 0 100%;
    margin-bottom: 30px;
    width: 100%;
  }

  .form-group {
    width: 100%;
  }
}