{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI Symptom Checker</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/5v8F9xK/4ylhSL+3A2yL8a47KgH.pa2F352+S" crossorigin="anonymous">
</head>

<body>

        <header>
            <a href="/">
                 <h1>
                    🧬AI Symptom Checker🧬
                 </h1>
            </a>
        </header>
        <div class="container">
            <form id="symptom-form" method="post" action="{% url 'get_diagnosis' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="symptom-textarea">
                        <b>Enter your symptoms:</b>
                    </label>
                    <textarea class="form-control" required id="symptom-textarea" rows="3" name="symptoms"></textarea>
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                </div>

            </form>

            <div class="results-container">

                <div class="diagnosis-section">
                    <h2>
                        Assessment: {% if diagnosis %}{{ diagnosis}}{% endif %}
                    </h2>
                    {% if description %}
                        <p>
                            {{ description }}
                        </p>
                    {% endif %}

                </div>

                <div class="treatments-section">
                    <h2>
                        Recommended Actions:
                    </h2>
                    <ul class="list-group" id="treatments-list">
                        {% if treatment %}
                            {% for t in treatment %}
                                <li>{{ t }}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>

            </div>

        </div>
        <footer>
            <h2>
                Disclaimer
            </h2>
            <p>
                This is a symptom checker application that uses machine learning to diagnose your symptoms and recommend actions to take. This project is part of my final year thesis and has been developed for educational and research purposes only. It is not intended to be used as a replacement for professional medical advice. If you are experiencing any health issues or concerns, please consult with a healthcare professional for appropriate guidance and care.
            </p>
        </footer>


</body>
</html>